<footer class="footer-section">
  <div class="container">
    
    <div class="footer-socials">
      <a href="https://github.com/Chamod100" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/chamodrathnayake/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="mailto:chamodrathnayaka008@gmail.com"><i class="fas fa-envelope"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>

    <div class="footer-copyright">
      <p>
        &copy; 2025 <strong>CHAMOD RATHNAYAKA</strong>. All Rights Reserved.
      </p>
      <p class="designed-by">Designed & Built by Chamod</p>
    </div>

  </div>
</footer>