<div class="hero-section">
  <div class="hero-content">
    <div class="hero-left">
      <p class="greeting">Hi, I am</p>
      <h1 class="name">Chamod Rathnayaka</h1>
      <p class="role">Front-end Developer / UI Designer</p>
      <div class="social-icons">
        <a href="mailto:chamodrathnayaka008@gmail.com?subject=Contact from Portfolio" class="icon-link"><i class="fas fa-at"></i></a>
        <a href="https://github.com/Chamod100" class="icon-link"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/chamodrathnayake/" class="icon-link"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <div class="hero-right">
      <img src="https://i.postimg.cc/rwq9RFkt/profile-(1).png" alt="Profile" class="profile-img">
    </div>
  </div>

</div> 
<app-footer></app-footer>